/* BODY */
body {
  background-color: #F8F8FF;
}

/* NAVBAR */
.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.navbar ul {
  margin-left: 150px;
}

.navbar h1 {
  font-family: "Liu Jian Mao Cao", cursive;
  color: #FFD700;
  margin-left: 100px;
}

.navbar li {
  display: inline;
  margin: 10px;
}

.navbar li a {
  color: #F8F8FF;
}

/* SPLASH */
.splash {
  background-image: url("https://cdn.wallpapersafari.com/57/83/JUDXTQ.jpg");
  background-size: cover;
  min-height: 500px;
  display: flex;
  /* flex wazne */
  justify-content: center;
}

.splash-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.splash h1 {
  font-family: "Liu Jian Mao Cao", cursive;
  color: #F8F8FF;
  margin-left: 100px;
}

.splash h2 {
  font-family: "Oswald", sans-serif;
  color: #F8F8FF;
  font-size: 50px;
  margin-left: 100px;
}

.splash a {
  color: #F8F8FF;
  font-weight: 500;
  font-size: 22px;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  /* przycisk bedzie mial dwupikselowa ciagla ramka */
  border-style: solid;
  background-color: #FFD700;
  background-position: 100% 0;
  /* Teraz schowamy nasz gradient, 
                    a nastepnie dodamy kod, ktory sprawi, ze po najechaniu kursorem na 
                                przycisk gradient wypelni go w calosci */
  background-size: 300%;
}

.btn:hover {
  background-position: 0 100%;
  transition: all 1s;
}

/* OUR SERVICES */
.services {
  background-color: #F8F8FF;
  text-align: center;
}

.services h1 {
  font-family: "Oswald", sans-serif;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.services h2 {
  font-family: "Liu Jian Mao Cao", cursive;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 25px;
  text-align: center;
}

.services i {
  font-size: 3.5em;
  display: inline-block;
  color: #FFD700;
}

/* PORTFOLIO */
.portfolio {
  background-color: #e9ecef;
  text-align: center;
  padding-top: 100px;
}

.portfolio h1 {
  font-family: "Oswald", sans-serif;
  margin: auto;
  text-align: center;
}

.portfolio h2 {
  font-family: "Liu Jian Mao Cao", cursive;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 25px;
  text-align: center;
}

.portfolio .col {
  padding: 20px;
  margin-bottom: 10px;
}

.portfolio h3 {
  font-family: "Oswald", sans-serif;
  margin: 10px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
}

.portfolio h4 {
  font-family: "Liu Jian Mao Cao", cursive;
  text-align: center;
  font-size: 15px;
  margin: 5px;
}

/* FOOTER */
.footer {
  background-color: #F8F8FF;
  text-align: center;
  padding-top: 100px;
}

.footer h1 {
  font-size: 13px;
  padding-top: 15px;
}

.footer li {
  list-style-type: none;
  display: inline-block;
}

.footer li .fab {
  font-size: 42px;
  color: #000000;
  padding: 5px;
}

.col {
  padding: 30px;
}

/*# sourceMappingURL=style.css.map */